.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.formContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 90%;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 2;
}


form {
    height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form::-webkit-scrollbar {
    width: 8px;
}

h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #3498db; /* Blue color, you can change it */
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-right: 1rem;
    padding: 0.5rem;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

.closeBtn {
    background-color: red;
    width: 100px;
    margin-top: 1.5rem; /* Increased margin */
}

.closeBtn:hover {
    background-color: rgba(255, 0, 0, 0.803);
}
