/* ProductCard.module.css */
.productContainer {
    position: relative;
    height: auto;
    min-height: 500px;
    width: 350px;
    margin: 1rem;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.productContainer:hover {
    transform: scale(1.06);
}

.thumbnail {
    width: 100%;
    height: 200px;
    max-height: 200px;
    object-fit: cover;
}

.heading {
    color: #31363D;
}

.description {
    word-spacing: 2px;
    text-align: center;
    color: #31363D;
    max-height: 3.6em; /* Set the maximum height to two lines */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.price {
    color: #28C8A4;
}

.removeFromCartBtn {
    width: 100%;
    height: 2.6rem;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: large;
    font-weight: 700;
}

.removeFromCartBtn:hover {
    background-color: white;
    color: #ff0000;
    border: 2px solid #ff0000;
}

.icon {
    height: 2.6rem;
    transition: all 0.2s ease;
}

.iconContainer {
    display: flex;
    justify-content: space-between;
    width: 26%;
    top: -20px;
    position: absolute;
    right: 20px;
    z-index: 1;
}

.icon:hover {
    transform: scale(1.2);
}

.priceAndQtyContainer{
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.qtyContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qtyContainer p{
    margin: 0 1rem;
    font-size: 1.8rem;
}

.qtyContainer img{
    height: 1.8rem;
}