.sortButton{
    position: relative;
    left: 60px;
    margin: 2rem 0;
    padding: 10px;
    width: 160px;
    font-size: 1.2rem;
    background-color: rgba(79, 68, 233, 0.6);
    border: 2px solid rgb(79, 68, 233);
    color: white;
    border-radius: 16px;
    font-weight: bolder;
    transition: all 0.6s ease;
}

.sortButton:hover{
    background-color: white;
    color: rgb(79, 68, 233);
    transform: scale(105%);
}

.loaderContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}