/* Navbar.module.css */
.navbarContainer {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    background-color: rgb(33, 33, 33);
    justify-content: space-between;
    padding: 1.2rem 2rem;
    user-select: none;
    color: white;
    z-index: 1000;
}

  
  .navItemsLeft {
    display: flex;
    gap: 2rem;
    align-items: center; 
  }
  
  .navItemsRight {
    display: flex;
    gap: 2rem;
  }
  
  .navItem {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.2s ease-in-out;
  }
  
  .navItem p {
    font-size: large;
    font-weight: 600;
  }
  
  .navItem img {
    height: 2rem;
  }
  
  /* Style for the NavLink */
  .navLink {
    text-decoration: none;
    color: white;
    display: flex; 
  }
  
  .navItem:hover {
    color: lightgreen;
  }
  
  .navLink:hover {
    color: lightgreen; 
  }

  @media screen and (max-width: 768px) {
    .navbarContainer {
        flex-direction: column;
        padding: 10px;
        height: auto;
    }

    .navItemsLeft, .navItemsRight {
        width: 100%;
        justify-content: space-around;
    }

    .navItem p {
      font-size: small;
    }
}